@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #ACBDBA;
}

header {
    background-color: #A53860;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.logo {
    width: 8%;
    border-radius: 50%;
    padding-top: 1%;
    padding-bottom: 1%;;
}

.link{
    width: 10%;
    background-color: #ACBDBA;
    color: #36453B;
    justify-content: space-around;
    border: 2px outset rgba(25,10,10,.1);
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    font-family: 'Roboto Mono', monospace;
}

header nav .link:hover {
    transition: 0.75s;
    color: #ACBDBA;
    background-color: #36453B;
}

/*Our Team*/
.ourTeam {
    text-align: center;
    margin: 5% auto;
    margin-bottom: 3%;
    font-size: 3rem;
    font-family: 'Chelsea Market', cursive;
    color: #36453B;
}

.sec2OT {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2%;
}

.imgPro {
    width: 40%;
    border-radius: 10%;
}

.profileText {
    width: 40%;
    color: #36453B;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    margin-top: 2%;
    text-align: center;
}

.names {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 1%;
    font-size: 1.5rem;
}

@media (max-width: 800px)
{

}

@media (max-width: 500px)
{
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgPro {
        width: 80%;
    }
    .profileText {
        width: 80%;
    }
}

/*Blog*/
.blog {
    text-align: center;
    margin: 5% auto;
    font-size: 3rem;
    font-family: 'Chelsea Market', cursive;
    color: #36453B;
}

.sec2B {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

.blogposts {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #E09891; 
    text-align: center;
    border-radius: 10%;
}

.blogimg1 {
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.blogText{
    font-family: 'Roboto Mono', monospace;
    color: #36453B;
}

.blogTitle {
    font-family: 'Chelsea Market', cursive;
    font-size: 1.1rem;
    color: #36453B;
}

.blogTextTitle {
    padding: 5%;
}

.readMore {
    font-family: 'Roboto Mono', monospace;
    color: #36453B;
}
